In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
Data = pd.read_excel(r"D:\Intership\Python\12-05-25\practice_data.xlsx")
data1 = pd.DataFrame(Data)
data1

,EmployeeID,gender,department,Days Present,Accuracy of Work,Meeting Project Deadlines,Task Completion Rates,Interpersonal Skills Rating,Decision-Making Skills Rating,Sales Revenue Generated,churned
0,1,Male,Sales,20,High,Yes,85,8,7,51638,No
1,2,Female,Marketing,22,Medium,Yes,90,7,6,97797,Yes
2,3,Male,Human Resources,25,High,No,80,9,8,95341,No
3,4,Male,Engineering,19,Low,Yes,75,6,5,91806,No
4,5,Female,Finance,23,Medium,Yes,85,7,7,64247,Yes
5,6,Male,Sales,21,High,Yes,95,8,8,89988,No
6,7,Female,Marketing,24,Low,No,70,5,4,70934,Yes
7,8,Male,Human Resources,18,Medium,Yes,80,6,6,96578,No
8,9,Male,Engineering,20,High,Yes,90,8,7,74219,No
9,10,Female,Finance,22,Medium,Yes,85,7,6,87009,Yes
10,11,Male,Sales,25,High,No,75,9,8,77785,No
11,12,Female,Marketing,19,Low,Yes,70,6,5,97201,Yes
12,13,Male,Human Resources,23,Medium,Yes,80,7,7,67730,No
13,14,Male,Engineering,21,High,Yes,90,8,8,93427,No
14,15,Female,Finance,24,Low,No,65,5,4,77172,Yes
15,16,Male,Sales,18,Medium,Yes,75,6,6,85737,No
16,17,Female,Marketing,20,High,Yes,85,8,7,74871,Yes
17,18,Male,Human Resources,22,Medium,Yes,80,7,6,63245,No
18,19,Male,Engineering,25,High,No,70,9,8,53169,No
19,20,Female,Finance,19,Low,Yes,65,6,5,81770,Yes
20,21,Male,Sales,23,Medium,Yes,75,7,7,78482,No
21,22,Female,Marketing,21,High,Yes,85,8,8,57836,Yes
22,23,Male,Human Resources,24,Low,No,60,5,4,62885,No
23,24,Male,Engineering,18,Medium,Yes,70,6,6,52579,No
24,25,Female,Finance,20,High,Yes,80,8,7,75795,Yes
25,26,Female,Finance,19,Low,Yes,65,6,5,81770,Yes
26,27,Male,Sales,23,Medium,Yes,75,7,7,78482,No
27,28,Female,Marketing,21,High,Yes,85,8,8,57836,Yes
28,29,Male,Human Resources,24,Low,No,60,5,4,62885,No
29,30,Male,Engineering,18,Medium,Yes,70,6,6,52579,No
30,31,Female,Finance,20,High,Yes,80,8,7,75795,Yes

In [12]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [13]:
scaler = StandardScaler()
scaled = scaler.fit_transform(x)

In [14]:
x=data1[['Task Completion Rates']]
y=data1[["Interpersonal Skills Rating"]]
x_train, x_test, y_train, y_test = train_test_split(scaled, y, test_size=0.2, random_state=42)

# LinearRegression

In [15]:
model = LinearRegression()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
mape = mean_squared_error(y_test, y_pred)
print("Mean squared error:", mape)

Mean squared error: 0.2564152308872768

In [16]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

# DecisionTreeRegressor

In [17]:
model = DecisionTreeRegressor()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
mape = mean_squared_error(y_test, y_pred) 
print("Mean squared error:", mape)

Mean squared error: 0.526626984126984

In [18]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# RandomForestRegressor

In [19]:
model = RandomForestRegressor()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
mape = mean_squared_error(y_test, y_pred)
print("Mean squared error:", mape)

Mean squared error: 0.505388029505064

C:\Users\shubham\AppData\Local\Temp\ipykernel_2856\3751959800.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train, y_train)